
.form-control{
    border-radius: 80px;
}
.error{
    color:red;
}
img{
    margin-top: -20px;
    height: 500px;
}
body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
   

}